{% extends "coffees/layout.html" %}

{% block body %}
    <h1>Employees</h1>
    <!-- <ul>
        {% for employee in employees %}
            <li>Name: {{ employee.fname }} {{ employee.lname }} <br> Workplace: {{ employee.workplace }}</li>
        {% endfor %}
    </ul>
    <a href="/coffees">Back to Coffees</a>
    <a href="/">Back to home</a> -->

    <table class="table table-bordered table-striped table-hover">
        <!-- Header row -->
        <tr>
            <th class="text-center col-3">Name</th>
            <th class="text-center col-2">Workplace</th>

        </tr>
        <!-- Repeatable Template Row -->
        {% for employee in employees %}
            <tr>
                    <td class="text-center col-3">{{ employee.fname }} {{ employee.lname }}</td>
                    <td class="text-center col-3">
                        <a href="{% url 'location' employee.workplace.id %}" >{{ employee.workplace.name }}</a>
                    </td>
            </tr>
        {% endfor %}
    </table>

    <a href="/coffees/addemployee" class="btn btn-primary add-button" role="button" id="addcoffee">Add Employee</a>
{% endblock %}