{% load static %}
<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
    </head>
    <body>
        <div class="container">
            <ul class="nav bg-info">
              <li class="nav-item">
                <a class="nav-link link-light" href="/"><i class="fa-solid fa-house"></i> HOME</a>
              </li>
              <li class="nav-item">
                <a class="nav-link link-light" href="/coffees">COFFEES</a>
              </li>
              <li class="nav-item">
                <a class="nav-link link-light" href="/coffees/employees">EMPLOYEES</a>
              </li>
            </ul>
        </div>
        <main class="container">
          {% block body %}
          {% endblock %}
        </main>
    </body>
</html>